<p class="my-10 text-sm text-center text-gray-500">
	&copy; {new Date().getFullYear()} —
	<a href="https://gestcloud.vercel.app/" class="hover:underline" target="_blank"
		>GestCloud.com</a
	>. Casi todos los derechos reservados.
</p>
